<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }}</title>
<link rel="stylesheet" href="/public/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/css/flexslider.css">
<link rel="stylesheet" href="/public/css/jquery.fancybox.css">
<link rel="stylesheet" href="/public/css/main.css">
<link rel="stylesheet" href="/public/css/responsive.css">
<link rel="stylesheet" href="/public/css/animate.min.css">
<link rel="stylesheet" href="/public/css/font-icon.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<!-- header top section -->
<section class="banner" role="banner">
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="index.html"><img src="images/logo.png" alt=""></a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="/"><img height="20px" src="/public/images/uk_flag.svg" /></a></li>
          <li><a href="/de"><img height="20px" src="/public/images/de_flag.svg" /></a></li>
          <li><a href="/cn"><img height="20px" src="/public/images/cn_flag.svg" /></a></li>
          <li>Tel. +66 894057138</li>
          <li><a href="mainlto:sarachalee@freezedriedthaifood.com">sarachalee@freezedriedthaifood.com</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
</section>
<!-- header top section --> 
<!-- header content section -->
<section id="hero" class="section ">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6 hero">
        <div class="hero-content">
          <h1>Freeze Dried Thai Fruits</h1>
<p>
Unsere Produkte werden aus lokalen Früchten in Ostthailand produziert.
Hauptsächlich in den Provinzen Chon Buri, Rayon und Chanthaburi.
</p>
<p>
Die Böden in den Plantagen haben die höchste Qualität.
Alle Früchte sind Bio-Ware und ohne künstliche Süßstoffe. 
Während der Produktion wird kein Zucker hinzugefügt um den natürlichen Geschmack der Früchte zu wahren.
</p>
<p>
Da die Früchte gefriergetrocknet werden bleibt der natürliche  Geschmack bestehen, sodass der Geschmack sich nach der Ernte nicht verändert.
</p>
<p>
Jede Bestellung beinhaltet 20 Packungen, welche fertig für den Verkauf sind.
</p>
        </div>
        <!-- hero --> 
      </div>
      <div class="col-md-5 col-sm-6 hero">
        <div class="hero-content">
<p>
Wir bieten zusätzlich neutrale Verpackungen an die nach ihren Wünschen beschriftet werden können.
</p>
<p>
Bestellungen können zusätzlich ohne Verpackungen getätigt werden. Bezahlt wird dann folglich nach Kilogramm.
</p>
<p>
Durian ist eine Frucht die reich an Energie und Nährstoffen ist. 
Für die Zufriedenheit unserer Kunden wählen wir ausschließlich höchstqualitative  Durians der Sorte ‚Monthong’ aus um knusprige Durianchips  mit Hilfe der Technologie der Vakuumgefriertrocknung zu produzieren.
Dadurch bleibt das Produkt 100% natürlich.
</p>

<p>
Da keine künstlichen Aromen, Öle oder Konservierungsstoffe dem Produkt beigefügt werden ist es gut bekömmlich  für den Konsumenten.
</p>
        </div>
        <!-- hero --> 
      </div>
    </div>
  </div>
</section>
<!-- header content section --> 
<!-- portfolio grid section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr class="section">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 portfolio-item">
        <div class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>Maintaining taste</h3>
            <h4>
        The freeze drying process keeps the original taste intact, so that the flavor is the same as when it was harvested.
</h4>
          </div>
        </div>
        <img width="465px" src="/public/images/21622043_1597164047017830_1129136411_n.jpg" class="img-responsive" alt="">
    </div>
</div>
      <div class="col-sm-6 portfolio-item"> <div class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>Soil quality</h3>
            <h4>
        The soil in the plantations are of the highest quality.  All fruits are organic, contains no articial sweetners.  No sugar is added in the productiion preserving the original taste of the fruits.
</h4>
          </div>
        </div>
        <img width="465px" src="/public/images/21641211_1597164027017832_937506891_n.jpg" class="img-responsive" alt="" /></div></div>
      <div class="col-sm-6 portfolio-item"> <div class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>Prepackaged</h3>
            <h4> Each order contains 20 packages ready to sell.  </h4>
          </div>
        </div>
        <img src="/public/images/21763884_1597164053684496_266360178_n.jpg" class="img-responsive" alt=""/></div> </div>
      <div class="col-sm-6 portfolio-item"> <div class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>Custom packaging</h3>
            <h4>We also offer white labeling package to your specifications.</h4>
          </div>
        </div>
        <img src="/public/images/21767598_1597164067017828_1933140368_n.jpg" class="img-responsive" alt="" /></div></div>
      <div class="col-sm-6 portfolio-item"> <div class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>Other ways to order</h3>
            <h4>Orders may also be made without packaging and can be purchased by the kilogram.</h4>
          </div>
        </div>
        <img width="465px" src="/public/images/21763746_1597164030351165_1752599822_n.jpg" class="img-responsive" alt="" /> </div></div>
      <div class="col-sm-6 portfolio-item"> <div class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>czarna kawka</h3>
            <h4>Branding</h4>
          </div>
        </div>
        <img width="465px" src="/public/images/21763684_1597164050351163_163846088_n.jpg" class="img-responsive" alt="" /> </div></div>
      <div class="col-sm-6 portfolio-item"> <div class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>Custom packaging</h3>
            <h4>We also offer white labeling package to your specifications.</h4>
          </div>
        </div>
        <img width="465" src="/public/images/21769242_1597164123684489_1284310946_o.jpg" class="img-responsive" alt="" /> </div></div>
    </div>
  </div>
</section>
<!-- portfolio grid section --> 
<!-- service section -->
<section id="service" class="service section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6">
        <h4>We're ready to take your orders.</h4>
        <p>
        For more information please contact:<br />
        Saranya Hormchalee<br />
        sarachalee@freezedriedthaifood.com<br />
	+66 894057138<br />
      </p>
      </div>
      <div class="col-md-7 col-sm-6">
<!--
        <div class="col-md-4 col-sm-6 service text-center"> <span class="icon icon-browser"></span>
          <div class="service-content">
            <h5>Web & Mobile</h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 service text-center"> <span class="icon icon-trophy"></span>
          <div class="service-content">
            <h5>Branding</h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 service text-center"> <span class="icon icon-megaphone"></span>
          <div class="service-content">
            <h5>Digital Marketing</h5>
          </div>
        </div>
-->
      </div>
    </div>
  </div>
</section>
<!-- service section --> 
<!-- footer section -->
<footer class="footer">
  <div class="container">
    <div class="col-md-6 left">
      <h4>Let's work together</h4>
      <p> Call: +66 894057138</p>
    </div>
    <div class="col-md-6 right">
      <p>© 2015 All rights reserved. All Rights Reserved<br>
        Made with <i class="fa fa-heart pulse"></i> by <a href="http://www.designstub.com/">Designstub</a></p>
    </div>
  </div>
</footer>
<!-- footer section --> 

<!-- JS FILES --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="/public/js/bootstrap.min.js"></script> 
<script src="/public/js/jquery.fancybox.pack.js"></script> 
<script src="/public/js/retina.min.js"></script> 
<script src="/public/js/modernizr.js"></script> 
<script src="/public/js/main.js"></script>
</body>
</html>
