<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <div>
      <h2>Freeze Dried Thai Fruits</h2>
    </div>
    <div>
      <h3>Contact Information:</h3>
      <div>
        e: saranya_th@gmail.com
        ph: +66 555555555555
      </div>
    </div>
    <div>
      <div>
        <img src="/public/images/21622043_1597164047017830_1129136411_n.jpg" />
      </div>
      <div>
        <img src="/public/images/21641211_1597164027017832_937506891_n.jpg" />
      </div>
      <div>
        <img width="500" src="/public/images/21682692_1597164303684471_1390970391_o.jpg" />
      </div>
      <div>
        <img width="500" src="/public/images/21684471_1597164270351141_1080371038_o.jpg" />
      </div>
<!--
      <div>
        <img src="/public/images/21705985_1597164163684485_1966259131_o.jpg" />
      </div>
      <div>
        <img src="/public/images/21706383_1597164190351149_1753348242_o.jpg" />
      </div>
-->
      <div>
        <img src="/public/images/21763884_1597164053684496_266360178_n.jpg" />
      </div>
      <div>
        <img width="500" src="/public/images/21766974_1597164220351146_543522987_o.jpg" />
      </div>
      <div>
        <img src="/public/images/21767598_1597164067017828_1933140368_n.jpg" />
      </div>
      <div>
        <img width="500" src="/public/images/21769242_1597164123684489_1284310946_o.jpg" />
      </div>
      <div>
        <img width="500" src="/public/images/21706432_1597164330351135_552843003_o.jpg" />
      </div>
      <div>
        <img width="500" src="/public/images/21706537_1597164333684468_1123796505_o.jpg" />
      </div>
      <div>
        <img src="/public/images/21763684_1597164050351163_163846088_n.jpg" />
      </div>
      <div>
        <img src="/public/images/21763746_1597164030351165_1752599822_n.jpg" />
      </div>
    </div>
    <div>
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </div>
  </body>
<html>
